<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task_path(task) %>
      <%= check_box_tag "completed_#{task.id}", 'completed', task.completed, disabled: true %>
      <%= link_to "ðŸ—‘ï¸", task_path(task), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create New Task', new_task_path %>
